body {
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    background: linear-gradient(#2C324E,#8A6F74);
    color: #F2F2F2;
}

h1, h2, h3, h4, p{
    text-shadow: 0px 0px 1px black; 
}

#img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #9DB2E5;
    margin-bottom: 10px;
}

#bday-date {
    margin: 0;
    background: #9DB2E5;
    padding: 5px 10px;
    border-radius: 5px;
}

#bday-age {
    background: #9DB2E5;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}
.gift-title {
    margin-bottom: 10px;
}
.gift-hint{
    margin-top: 0;
}
.gift-img {
    width: 400px;
    height: 400px;
    border: 6px solid #9DB2E5;
    border-radius: 10px;
    background: url("gift_cover.jpg");
    background-size: cover;
    margin: 20px auto;
}
#gift-one:hover {
    background-image: url("happy.gif");
}
#gift-two:hover{
    background-image: url("madridistas.gif");
}
#gift-three:hover{
    background-image: url("magic.gif");
    background-position: center;
}
#gift-four:hover{
    background-image: url("ronaldo.gif");
    background-position: center;
}
#gift-five:hover{
    background-image: url("champions.gif");
    background-position: center;
}
#gift-five{
    height: 200px;
    background-position: center;
}
#footer{
    width: 400px;
    margin: 40px auto 20px;
    font-style: italic;
}
